<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.quartz.service.mapper.TaskExecuteDetailMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="BaseResultMap" type="TaskExecuteDetail">
        <id property="jobId" column="job_id"/>
        <result property="detailId" column="detail_id"/>
        <result property="jobId" column="job_id"/>
        <result property="threadId" column="thread_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="totalTime" column="total_time"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getTaskDetailList" resultType="com.qs.quartz.entity.TaskExecuteDetail">
        select t1.*, t2.job_name
        from task_execute_detail t1
        left join task_scheduler t2 on t2.job_id=t1.job_id
        <where>
            1=1
            <if test="taskExecuteDetail.jobName!=null and taskExecuteDetail.jobName!=''">
                and t2.job_name like CONCAT('%',#{taskExecuteDetail.jobName},'%') or t2.job_id like CONCAT('%',#{taskExecuteDetail.jobName},'%')
            </if>
            <if test="taskExecuteDetail.status!=null and taskExecuteDetail.status!=''">
                and t1.status=#{taskExecuteDetail.status}
            </if>
        </where>
        order by t1.start_time desc
    </select>
</mapper>