<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 定时任务入口 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:/quartz.properties"/>
        <property name="schedulerFactoryClass" value="com.qs.quartz.utils.StdSchedulerFactoryProxy"/>
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>

    <!-- 2、定义触发器 -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myJobDetail"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>
    </bean>

    <!-- 3、定义执行任务详情 -->
    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="myQuartzService"/>
        <property name="targetMethod" value="test"/>
        <!--  value值为空，表示传参为空字符串 -->
        <property name="arguments" value=""/>
        <property name="concurrent" value="false"/>
    </bean>
</beans>